$main_color: #fd97c9;

$font_mobile--s: 12px;
$font_mobile--m: 16px;
$font_mobile--l: 18px;
$font_mobile--xl: 20px;
$font_mobile--xxl: 32px;

$font_desktop--s: 24px;
$font_desktop--m: 36px;
$font_desktop--l: 48px;
$font_desktop--xl: 64px;
$font_desktop--xxl: 96px;

