
$font_style: 'Lobster', cursive;

$font_mobile--s: 12px;
$font_mobile--m: 16px;
$font_mobile--l: 20px;
$font_mobile--xl: 24px;
$font_mobile--xxl: 32px;

$font_desktop--s: 24px;
$font_desktop--m: 36px;
$font_desktop--l: 48px;
$font_desktop--xl: 64px;
$font_desktop--xxl: 96px;

$background__gradiet:linear-gradient(135deg, rgba(16,255,232,1) 10%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(139,217,140,1) 90%);

$white_color :#f5f5f5;
$main_color: #fd97c9;
$blue__color: #6573db;