.about_us{
    &__text{
        width: 100%;
        word-wrap:normal;
        margin-top: 20px;
    }
}

@media (min-width:768px){
    .about_us{
        &__text{
            font-size: $font_desktop--s;
        }
    }

}
@media (min-width:992px){
      
}
@media (min-width:1200px){
      
}