@import './varible';

@mixin hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;

}
.hamburger{

    position: absolute;
    padding: 16px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    left: 5px;
    top: 5px;
    z-index: 2;
    transition: transform .2s .2s ease-in-out;

    &__box{
        width: 18px;
        height: 12px;
        display: inline-block;
        position: relative;
    }

    &__inner{
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .2s .2s ease-in-out;
        color: transparent;

        &::after,
        &::before{
            @include hamburger-line;
            content: "";
            left: 0;
            transition: transform .2s .2s ease-in-out;

        }

        &::after{
            top:6px
        }
        &::before{
            top:-6px;
        }
    }

    &--active{
        transform: translateX(255px);
        position: fixed;
    }
    &--active &__inner{
        background-color: transparent;
    }
    &--active &__inner::before{
        transform: translateY(6px) rotate(45deg);
    }
    &--active &__inner::after{
        transform: translateY(-6px) rotate(-45deg);
    }
}

.nav{
    width: 320px;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s .2s ease-in-out;

   
    &__list{
        width:320px;
        top:44px;
        position: absolute;
    }

    &__link{
        color: black;
        text-decoration: none;
        width:100%;
        height: 44px;
        text-align: center;
        font-size: $font_mobile--xl;
    }

    &--active{
        transform: translateY(0);
    }
}


@media (min-width: 576px) {
    .hamburger{
        display: none;
       
    }

    .nav{
        width: 100vw;
        height: 32px;
        transform: translateX(0%);
        background-color: transparent;
        padding: 5px;
        position: unset;
        &__list{
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            position: unset;
            height: 100%;
        }
        &__link:first-child{
            display: none;
            height: 100%;
        }
    }
}

@media speech{
    .hamburger
    &__inner{
        color:black;
    }

}

@media (min-width:768px){
    .nav{
        width: 60%;
    }

}
@media (min-width:992px){
      
}
@media (min-width:1200px){
      
}