.order{
    &__list{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin-top: 10px;
    }
    &__item{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 5px 0px;
    }
    &__label{
        width:30% ;
    }
    &__input{
        font-family: $font_style;
        font-size: $font_mobile--s;
        background-color: $white_color;
        border: 1px $blue__color solid;
        border-radius: 20px;
        box-shadow: 10px 5px 25px -5px rgba(0,0,0,0.9);
        width: 70%;
        height: 28px;
        padding: 0 10px ;
    }

    &__button{
        margin-top: 10px;
        font-size: $font_mobile--s;
        background-color: $white_color;
        border: 1px $blue__color solid;
        border-radius: 20px;
        font-family: $font_style;
        box-shadow: 10px 5px 25px -5px rgba(0,0,0,0.9);
        width: 120px;
        height: 24px;
        cursor: pointer;
    }
}

@media (min-width:576px)
{
    .order{
        align-items: flex-start;
        &__input{
            max-width: 240px;
        }
        &__button{
            width: 160px;
            height: 28px;
            font-size: $font_mobile--m;
            margin-left: 100px;
        }
        &__label{
            width: auto;
            margin-right: 10px;
        }
    }
    
}
@media (min-width:768px){
    .order{
        &__input{
            max-width: 300px;
            height: 32px;
        }
        &__button{
            width: 220px;
            height: 28px;
        }
        &__label{
            font-size: $font_mobile--xl;
        }
    }
}
@media (min-width:992px){
      
}
@media (min-width:1200px){
      
}