<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Kitty Store</title>

    <script src="https://kit.fontawesome.com/2a5574cd35.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="top_wraper">
        <button class="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner">Nav</span>
            </span>
        </button>
        <nav class="nav">
            <div class="nav__list">
                <a href="index" class="nav__link">
                    <div class="nav__box">Home</div>
                </a>
                <a href="store" class="nav__link">
                    <div class="nav__box">Store</div>
                </a>
                <a href="about" class="nav__link">
                    <div class="nav__box">About Us</div>
                </a>
                <a href="koszyk" class="nav__link">
                    <div class="nav__box">Koszyk</div>
                </a>
                <a href="contact" class="nav__link">
                    <div class="nav__box">Kontakt</div>
                </a>
            </div>
    </nav>
    <p class="title_bar">Blue Kitty Store</p>
    </div>
    <main class="main summary">
        <header class="main__header">Podsumowanie</header>
        <ul class="summary__list">
            <li class="summary__list_item">Imie:</li>
            <li class="summary__list_item">Nazwisko:</li>
            <li class="summary__list_item">Adres:</li>
            <li class="summary__list_item">Nr telefonu:</li>
            <li class="summary__list_item">Adres Email:</li>
            <li class="summary__list_item">Koszt Zamównia:</li>
        </ul>

        <button class="summary__button">Zamów</button>
    </main>
    <script src="../../script/index.js"></script>
    </body>
    </html>