<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Kitty Store</title>

    <script src="https://kit.fontawesome.com/2a5574cd35.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="top_wraper">
        <button class="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner">Nav</span>
            </span>
        </button>
        <nav class="nav">
            <div class="nav__list">
                <a href="index" class="nav__link">
                    <div class="nav__box">Home</div>
                </a>
                <a href="store" class="nav__link">
                    <div class="nav__box">Store</div>
                </a>
                <a href="about" class="nav__link">
                    <div class="nav__box">About Us</div>
                </a>
                <a href="koszyk" class="nav__link">
                    <div class="nav__box">Koszyk</div>
                </a>
                <a href="contact" class="nav__link">
                    <div class="nav__box">Kontakt</div>
                </a>
            </div>  
    </nav>
    <p class="title_bar">Blue Kitty Store</p>
</div>
    <main class="main store">
        <header class="store__header">
            <a href="../main/koszyk.html"><button class="store__button">Koszyk</button></a><input type="text" class="store__input" placeholder="Search">
        </header>
        <div class="store_products products">
            <ul class="products__list">
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 1</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 2</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 3</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 4</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 5</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 6</figcaption>
                    </figure>
                </li>
                <li class="products__item">
                    <figure class="products__frame">
                        <img src="" alt="" class="products__img">
                        <figcaption class="products__figcaption">Nazwa Produktu 6</figcaption>
                    </figure>
                </li>
            </ul>
        </div>

    </main>

  

    <script src="../../script/index.js"></script>
    </body>
    </html>