<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Kitty Store</title>

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="top_wraper">
        <button class="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
        </button>
        <nav class="nav">
        <div class="nav__list">
            <a href="index.html" class="nav__link"><div class="nav__box">Start</div></a>
            <a href="store.html" class="nav__link"><div class="nav__box">Store</div></a>
            <a href="about.html" class="nav__link"><div class="nav__box">About Us</div></a>
            <a href="koszyk.html" class="nav__link"><div class="nav__box">Koszyk</div></a>
            <a href="contact.html" class="nav__link"><div class="nav__box">Kontakt</div></a>
        </div>    
    </nav>
    <p class="title_bar">Blue Kitty Store</p>
    </div>
    <main class="main">
        <header class="main__header">O Nas</header>
        <article class="main__about_us">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue id eros sed vulputate. Maecenas eu neque dictum, posuere magna et, eleifend neque. Nam tristique erat augue, cursus tempor sem ultricies id. Nunc lacinia semper tellus in dapibus. Etiam in tempus purus. Nullam dui turpis, efficitur et laoreet at, ultricies et neque. Integer scelerisque elementum dui vel vehicula.
        </article>
    </main>


    <script src="../../script/index.js"></script>
    </body>
    </html>