<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Kitty Store</title>

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="top_wraper">
        <button class="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
        </button>
        <nav class="nav">
        <div class="nav__list">
            <a href="index.html" class="nav__link"><div class="nav__box">Start</div></a>
            <a href="store.html" class="nav__link"><div class="nav__box">Store</div></a>
            <a href="about.html" class="nav__link"><div class="nav__box">About Us</div></a>
            <a href="koszyk.html" class="nav__link"><div class="nav__box">Koszyk</div></a>
            <a href="contact.html" class="nav__link"><div class="nav__box">Kontakt</div></a>
        </div>    
    </nav>
    <p class="title_bar">Blue Kitty Store</p>
    </div>
    <main class="main item">
        <h4 class="item__name">Nazwa Przedmiotu</h4>
        <section class="item__images">
            <div class="item__images--big"></div>
            <ul class="item__list">
                <li class="item__images--small"><img src="" alt="" class="item__img"></li>
                <li class="item__images--small"><img src="" alt="" class="item__img"></li>
                <li class="item__images--small"><img src="" alt="" class="item__img"></li>
            </ul>
        </section>
        <section class="item__values">
            <h3 class="item__price">Cena: xx zł</h3> 
            <div class="item__quantity">
                <span class="item__arrow_up">^</span>
                <div class="item__amount">1</div>
                <span class="item__arrow_down">^</span>
            </div>
            <button class="item__add"></button>
        </section>
        <section class="item__desc">
            <h3 class="item__header">Opis</h3>
            <div class="item__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, molestiae itaque nesciunt numquam officia tempora deserunt temporibus hic quo magnam nihil illum maiores possimus natus eum architecto deleniti nostrum dicta.
            </div>
        </section>



    </main>
    <script src="/script/index.js"></script>
    </body>
    </html>