<!DOCTYPE html>
<html lang="PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Kitty Store</title>

    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="top_wraper">
        <button class="hamburger">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
        </button>
        <nav class="nav">
        <div class="nav__list">
            <a href="index.html" class="nav__link"><div class="nav__box">Start</div></a>
            <a href="store.html" class="nav__link"><div class="nav__box">Store</div></a>
            <a href="about.html" class="nav__link"><div class="nav__box">About Us</div></a>
            <a href="koszyk.html" class="nav__link"><div class="nav__box">Koszyk</div></a>
            <a href="contact.html" class="nav__link"><div class="nav__box">Kontakt</div></a>
        </div>    
    </nav>
    <p class="title_bar">Blue Kitty Store</p>
    </div>
    <main class="main order">
        <header class="main__header">Dane do Zamównienia</header>
        <ul class="order__list">
            <li class="order__item">
                <label for="name" class="order__label">Imie</label><input type="text" class="order__input" name="name"></li>
            <li class="order__item">
                <label for="surname" class="order__label">Nazwisko</label><input type="text" class="order__input" name="surname"></li>
            <li class="order__item">
                <label for="city" class="order__label">Miejscowść</label><input type="text" class="order__input" name="city"></li>
            <li class="order__item">
                <label for="zip" class="order__label">Kod Pocztowy</label><input type="text" class="order__input" name="zip"></li>
            <li class="order__item">
                <label for="street" class="order__label">Ulica</label><input type="text" class="order__input" name="street"></li>
            <li class="order__item">
                <label for="number" class="order__label">Nr.tel</label><input type="number" class="order__input" name="number"></li>
            <li class="order__item">
                <label for="email" class="order__label">Email</label><input type="email" class="order__input" name="email"></li>
        </ul>
        <button class="order__button">Podsumowanie</button>
    </main>
    <script src="../../script/index.js"></script>
    </body>
    </html>